@model NoteSharingPlatform.ENTITY.Models.Category

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">



    <h2>Kategori Silme</h2>

    <h3>Bu kategoriyi silmek istediğinize emin misiniz ?</h3>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            
        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <button type="submit" class="btn btn-danger"> <i class="fa fa-trash"></i> Sil </button>
               
                <a class="btn btn-info" href="/Category/Index"><i class="fa fa-backward"></i> Geri</a>
            </div>
        }
    </div>
</div>