@using NoteSharingPlatform.ENTITY.Models
@model UserModel

@{
    ViewBag.Title = "ShowProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .myProfileImage
    {
        width:200px;
        height:200px;
        margin-top:4%;
    }

    .myUserInfo{
        margin-top:3%;
    }

    .myUserInfo h3 , h6{
        margin-top:2%;
        font-family:'Century Gothic';
    }

    .myActionButton{
        margin-top:9%;
    }


</style>

<div class="container">
    <div class="row">
        <h2>Profil Sayfası</h2>
    </div>
    <div class="row">
        <div class="col col-md-2 ">
            <img src="~/Images/@Model.ProfileImageFileName" class="myProfileImage rounded-circle  mx-auto d-block" alt="Alternate Text" />
        </div>
        <div class="col col-md-7 text-center">
            <div class="myUserInfo">
                @if (Model.Name != "" && Model.Surname != "")
                {
                    <h3>@(Model.Name + "  " + Model.Surname)</h3>
                    <hr />
                }
                else
                {
                    <h6> <b>Ad Soyad : </b> Ad Soyad alanını lütfen güncelleyiniz. </h6>
                }
                    <br />
                <h6><b>Kullanıcı Adı : </b> @Model.Username </h6>

                <h6><b>Email : </b> @Model.Email </h6>
                <br />

            </div>
        </div>
        <div class="col col-md-3 ">

            <div class="myActionButton">
                <a href="@Url.Action("EditProfile")" class="btn btn-warning btn-lg btn-block ">
                    <i class="fa fa-refresh"></i>
                    Profilimi Güncelle
                </a>
                <hr />
                <hr />
                <hr />
                <a href="@Url.Action("RemoveProfile")" onclick="return confirm('Hesabınızı silmek istediğinize emin misiniz ?')" class="btn btn-danger btn-lg btn-block ">
                    <i class="fa fa-trash-o"></i>
                    Profilimi Sil
                </a>

            </div>
        </div>
    </div>
    <hr /><br /><br /><br /><br /><br /><br /><br /><br />

</div>

